<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-6 col-lg-4">
      <div class="card shadow p-4 rounded-4">
          <h3 class="text-center mb-4">🔐 Login</h3>
          <form>
              <div class="mb-3">
                  <label for="email" class="form-label">📧 Email address</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="email"
                      name="email" required>
              </div>
              <div class="mb-3">
                  <label for="password" class="form-label">🔑 Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password"
                      [(ngModel)]="password" name="password" required>
              </div>
              <button (click)="onLogin()" class="btn btn-primary w-100 mb-2">Login</button>
          </form>
          <button routerLink="/register" >Register</button>
      </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>